
.card{

    margin: 0.5rem;
  
    }
  .marca{
    background-color: rgb(53, 107, 22);
    height: 4rem;
    color: white;
  
 }

 .button{
  height: 20%;
  width: 95%;
  background-color: rgb(241, 98, 15);
 

}
  
  
  
  