
.form{

    width: 50%;
    padding-top: 5%;
   
  
    .mb-3{
        color:white;
        width: 100%;
        justify-content: right;  
    }
    .button2{
        margin-top:3%;
        margin-left: 50%;
        width: 8rem;
        height:2rem;
        background-color:rgb(241, 98, 15);
        border: none;
    }    
}

