
.card{
    width: 25%;
    height:auto;
    margin: 0.5rem;
    background-color: white;
   
    .img{
      width: 100%;
  
      img{
        width:100% ;
    
      }
    }
  
    .text-container{
      display: flex;
      flex-wrap: wrap;
      width:22.2rem;
      height: 20rem;
      
    
     /*
      .list{ 

        height: 15rem;
        width:22.2rem;
        color:black;
        border:1px solid red;
        text-align: left;
        padding-left: 2rem;
        padding-top: 3rem;
      
    }
 */
      
 span{
     display: block;
 }
    
     

      .marca{
        background-color: rgb(53, 107, 22);
        width:20rem;
        height: 4rem;
        color: white;
        text-align: center;
     }

     
    }
    .button{
        border-radius: 0.5rem;
        background-color: rgb(241, 98, 15);
        color: white;
        width:18rem;
        height: 3rem;
        justify-content: center;
        margin-bottom: 2rem;
       
        
    }
  
    
  
  }
  
  
  
  