.modal-car{
  


    .close-button{
        color:#EA6316;
        text-align: center;
      
       
    }
    .button3{
    
        height:2rem;
        width: 4.5rem;
        background-color: #EA6316;
        border: none;
        padding: 0%;
       
}

}


