*{
  margin: 0%;
  box-sizing: border-box;
}


.App {
  text-align: center;
  background-color:  rgb(37, 36, 36);
  h1{
  
    color:white;
    background-color: rgb(37, 36, 36);
    padding-top: 5rem;
  }

  
}

